## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Ribeira Grande,PT,70.14,clear sky,38.5167,-28.7000,NaN
1,6,Vila Franca Do Campo,PT,70.21,scattered clouds,37.7167,-25.4333,NaN
2,9,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,NaN
3,10,Puerto Ayora,EC,70.43,few clouds,-0.7393,-90.3518,NaN
4,11,Broken Hill,AU,66.13,overcast clouds,-31.9500,141.4333,NaN
...,...,...,...,...,...,...,...,...
110,670,Arrifes,PT,68.25,scattered clouds,37.7667,-25.7000,NaN
111,676,Kuytun,RU,66.25,overcast clouds,54.3419,101.5036,NaN
112,681,Pacific Grove,US,66.81,overcast clouds,36.6177,-121.9166,NaN
113,686,Bitkine,TD,70.63,light rain,11.9801,18.2138,NaN
114,691,Hakkari,TR,65.98,scattered clouds,37.5833,44.1667,NaN

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Trip to Portugal
# Grab the first hotel from the results and store the name.
portugal_vacation_df = vacation_df.loc[(vacation_df["Country"] == "PT")]
portugal_vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Ribeira Grande,PT,70.14,clear sky,38.5167,-28.7000,NaN
1,6,Vila Franca Do Campo,PT,70.21,scattered clouds,37.7167,-25.4333,NaN
2,9,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,NaN
28,163,Lagoa,PT,69.44,clear sky,39.0500,-27.9833,NaN
60,350,Colares,PT,65.44,clear sky,38.7992,-9.4469,NaN
79,491,Silveira,PT,65.37,few clouds,39.1112,-9.3643,NaN
96,599,Camacha,PT,67.42,scattered clouds,33.0833,-16.3333,NaN
100,617,Praia Da Vitoria,PT,71.76,few clouds,38.7333,-27.0667,NaN
110,670,Arrifes,PT,68.25,scattered clouds,37.7667,-25.7000,NaN

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = portugal_vacation_df.loc[(portugal_vacation_df["City_ID"] == 9)]
vacation_end = portugal_vacation_df.loc[(portugal_vacation_df["City_ID"] == 9)]
vacation_stop1 = portugal_vacation_df.loc[(portugal_vacation_df["City_ID"] == 28)]
vacation_stop2 = portugal_vacation_df.loc[(portugal_vacation_df["City_ID"] == 2)] 
vacation_stop3 = portugal_vacation_df.loc[(portugal_vacation_df["City_ID"] == 6)]

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
end = vacation_end[["Lat", "Lng"]]
stop1 = vacation_stop1[["Lat", "Lng"]]
stop2 = vacation_stop2[["Lat", "Lng"]]
stop3 = vacation_stop3[["Lat", "Lng"]]

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# USING DRIVING

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (32.667, -17.1000)
stop1 = (39.0500, -27.9833)
stop2 = (38.5167, -28.7000)
stop3 = (37.7167, -25.4333)
end = (32.667, -17.1000)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
portugal_vacation_df = pd.concat([portugal_vacation_df],ignore_index=True)
portugal_vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Ribeira Grande,PT,70.14,clear sky,38.5167,-28.7000,NaN
1,6,Vila Franca Do Campo,PT,70.21,scattered clouds,37.7167,-25.4333,NaN
2,9,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,NaN
3,163,Lagoa,PT,69.44,clear sky,39.0500,-27.9833,NaN
4,350,Colares,PT,65.44,clear sky,38.7992,-9.4469,NaN
5,491,Silveira,PT,65.37,few clouds,39.1112,-9.3643,NaN
6,599,Camacha,PT,67.42,scattered clouds,33.0833,-16.3333,NaN
7,617,Praia Da Vitoria,PT,71.76,few clouds,38.7333,-27.0667,NaN
8,670,Arrifes,PT,68.25,scattered clouds,37.7667,-25.7000,NaN

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in portugal_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = portugal_vacation_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
city_mark = portugal_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))